/* OBJET XIII — Typography */
/* stylelint-disable max-line-length */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;1,300;1,400&family=JetBrains+Mono:wght@300;400;500&display=swap');

/* Fallback metrics */
@font-face {
  font-family: spectral-fallback;
  size-adjust: 105%;
  src: local('Georgia');
}

@font-face {
  font-family: 'jetbrains mono-fallback';
  size-adjust: 95%;
  src: local('Courier New');
}
